 <section class="container1">   
    <div class="news-container">
        <% @articles.each do |article| %>
            <ul>
                <li>
                    <div class="img-container">
                        <img src=<%=article["urlToImage"] %> alt="" width="550" height="350">
                    <div>
                </li>
                <li>
                    <a href=<%=article["url"] %> class = "title" target="_blank"><%=article["title"]%></a>
                </li>
                <li class="description">
                    <%= article["description"] %>
                </li>
            </ul>
        <% end%>
    </div>
    <div class="popular-news-container">
    <h1 >Popular News</h1>
        <% @articles_popular.each do |article| %>
            <ul>
                <li>
                    <div class="img-container">
                        <img src=<%=article["urlToImage"] %> alt="" width="250" height="150">
                    </div>
                </li>
                <li>
                    <a href=<%=article["url"] %> class = "title"><%=article["title"]%></a>
                </li>
            </ul>
        <% end%>
    </div>
</section>

